<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-box2"></i>
                            </div>
                            <div class="header-title" style="padding-top:1px">
                                <h3><span th:if="${id!=null}">Editar </span>
									<span th:if="${id==null}">Crear </span> Activo</h3>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                	<p th:if="${!create}" th:text="${mensaje}"></p>
                                	<a th:if="${!create}" th:href="@{/activos}">Ver Todos</a>
                                   <form th:if="${create}" action="#" th:action="@{/activo}" th:object="${activo}"
                                    method="post">
                                    <input type="hidden" th:field="*{id}" />
                                    <input th:if="${id!=null}" type="hidden" th:field="*{sku}" />
                                    <div class="form-group">
                                        <label for="">SKU</label>
                                        <input th:if="${id!=null}" disabled="disabled" type="text" class="form-control" placeholder="SKU" th:field="*{sku}">
                                        <input th:if="${id==null}" type="text" class="form-control" placeholder="SKU" th:field="*{sku}">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Nombre</label>
                                        <input type="text" class="form-control" placeholder="Nombre"
                                            th:field="*{nombre}">
                                    </div>
									<button type="submit" class="btn btn-default">
										<span th:if="${id!=null}">Guardar</span>
										<span th:if="${id==null}">Crear</span>
									</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer th:replace="footer"></footer>
    </body>
</html>