<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-add-user"></i>
                            </div>
                            <div class="header-title">
                                <h3><span th:if="${id!=null}">Editar </span>
									<span th:if="${id==null}">Crear </span> Cliente</h3>
                                <small>
                                   <a th:href="@{/clientes}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                	<p th:if="${!create}" th:text="${mensaje}"></p>
                                	<a th:if="${!create}" href="/clientes">Ver Todos</a>
                                   <form th:if="${create}" action="#" th:action="@{/cliente}" th:object="${cliente}"
                                    method="post">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="form-group">
                                        <label for="">RUC</label>
                                        <input type="text" class="form-control" placeholder="RUC" th:field="*{ruc}">
                                    </div>
                                    <div class="form-group">
                                        <label for="">Razón Social</label>
                                        <input type="text" class="form-control" placeholder="Razón Social"
                                            th:field="*{razon_social}">
                                    </div>
									<button type="submit" class="btn btn-default">
										<span th:if="${id!=null}">Guardar</span>
										<span th:if="${id==null}">Crear</span>
									</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer th:replace="footer"></footer>
    </body>
</html>