<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-add-user"></i>
                        </div>
                        <div class="header-title">
                            <h3>Clientes</h3>
                            <small>
                                <a th:href="@{/cliente}">Agregar</a>
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var context = [[@{/}]];
/*]]>*/
</script>
<script>
$( document ).ready(function() {
	$('#paginatedTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ajax": {
        	"url": context+"api/clientes_dto",
            "data": function ( data ) {
         }},
        "columns": [
                    { "data": "ruc", "name" : "RUC" , "title" : "RUC"},
                    { "data": "razon_social", "name" : "Razon Social" , "title" : "Razon Social"},
                    {
                        "data": null,
                        "searchable": false,
                        "orderable": false,
                        "className": "center",
                        "defaultContent": '',
                        "render": function (data, type, row, meta) {
                            var btns = '<a href="'+context+'cliente/editar/'+data.id+'"><button class="btn btn-default btn-xs">Editar</button></a> ';
                        	btns += '<a href="'+context+'cliente/eliminar/'+data.id+'"><button class="btn btn-default btn-xs">Eliminar</button></a>';
                        	return btns;
                        }
                    }
                ],
                "language": dtolang       
	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
</script>
</body>
</html>

