<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<style>
.checkbox_lavado{
	margin-top:5px;
}
</style>
<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        
        
        <section th:if="${!create}" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-note2"></i>
                            </div>
                            <div class="header-title">
                                
                                <h3 th:text="${mensaje}"></h3>
                                <small>
                                    Nro operación: <span style="font-size:20px;color:white;" th:text="${nro_operacion}"></span>
                                </small><br/>
                                <a th:href="@{/alquiler/listar}">Ver todos los alquileres</a>
                                
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    
                </div>
                </div>
                </section>
                
       <form id="alquiler_frm" th:if="${create}" action="#" th:action="@{/alquiler/guardar}" th:object="${alquiler}" method="post" onsubmit="return validateForm()">
                                   
        <input type="hidden" id="nro_operacion" name="nro_operacion" th:value="${nro_operacion}" /> 
        <input type="hidden" id="operacion" name="operacion" th:value="ENTREGA" />                              
        <input type="hidden" th:field="*{id}" />       
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-8">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-note2"></i>
                            </div>
                            <div class="header-title">
                                <h3 th:text="${titulo}"></h3>
                            </div>
                            <small>
                                    Nro operación: <span style="font-size:20px;color:white;" th:text="${nro_operacion}"></span>
                                </small>
                            
                        </div>
                        
                    </div>
                    <div class="col-lg-8 col-md-4">
                    			<table class="table small m-t-sm">
                                        <tbody>
                                        <tr>
                                            <td th:each="t : ${activos_alquiler}">
                                            	<span th:text="${t.sku}"></span>
                                                <strong class="c-green" th:text="${'S/'+t.precio}"></strong>
                                        	</td>
                                        </tr>
                                        <tr>
                                            <td th:each="t : ${activos_alquiler}">
                                            	<span th:text="${t.sku}"></span>
                                                <strong class="c-green" th:text="${t.stock}"></strong>
                                        	</td>
                                        </tr>
                                        </tbody>
                                </table>
                       </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                    <div class="form-group">
                                        <label for="">Proveedor</label>
                                        <select onchange="changeProveedor()" th:disabled="${view_mode}" id="proveedor" name="proveedor" class="form-control" required oninvalid="this.setCustomValidity('Por favor seleccione un proveedor')" oninput="setCustomValidity('')">
                                            <option value=""/>Seleccione</option>
                                            <option th:each="t : ${proveedores}" th:value="${t.id}"
                                                th:utext="${t.razon_social}" th:selected="${t.id==proveedor_seleccionado}" />
                                        
                                        </select>
                                        
                                    </div>
                                    <div class="row">
                                    	<div class="form-group" id="datos_proveedor">
                                    	</div>
                                    </div>
                                    
                                    <div class="row">
                                    	<div th:each="activo,i:*{detalle}" class="col-lg-2">
		                                   	<div class="form-group">
		                                    	<label th:text="*{detalle[__${i.index}__].sku}"></label>
		                                        	
		                                        	<input th:disabled="${view_mode}" type="hidden" class="form-control" th:placeholder="*{detalle[__${i.index}__].id}" 
		                                        	th:field="*{detalle[__${i.index}__].id}" th:value="*{detalle[__${i.index}__].id}" required>
		                                        	
		                                        	<input th:disabled="${view_mode}" type="hidden" class="form-control" th:placeholder="*{detalle[__${i.index}__].sku}" 
		                                        	th:field="*{detalle[__${i.index}__].sku}" th:value="*{detalle[__${i.index}__].sku}" required>
		                                        	
		                                        	<input th:disabled="${view_mode}" type="hidden" class="form-control" th:placeholder="*{detalle[__${i.index}__].nombre}" 
		                                        	th:field="*{detalle[__${i.index}__].nombre}" th:value="*{detalle[__${i.index}__].nombre}" required>
		                                        	
		                                        	<input th:disabled="${view_mode}" type="hidden" class="form-control" th:placeholder="*{detalle[__${i.index}__].precio}" 
		                                        	th:field="*{detalle[__${i.index}__].precio}" th:value="*{detalle[__${i.index}__].precio}" required>
		                                        	
		                                        	<input th:disabled="${view_mode}" type="hidden" class="form-control" th:placeholder="*{detalle[__${i.index}__].precio_no_lavado}" 
		                                        	th:field="*{detalle[__${i.index}__].precio_no_lavado}" th:value="*{detalle[__${i.index}__].precio_no_lavado}" required>
		                                        
		                                        	<input th:disabled="${view_mode}" type="number" class="form-control" th:placeholder="*{detalle[__${i.index}__].cantidad}" 
		                                        th:id="*{detalle[__${i.index}__].cantidad}" th:field="*{detalle[__${i.index}__].cantidad}" th:value="*{detalle[__${i.index}__].cantidad}" required>
		                                        
		                                        
		                                        No lavado
		                                        <input th:disabled="${view_mode}" class="checkbox_lavado" type="checkbox" th:placeholder="*{detalle[__${i.index}__].no_lavado}" 
		                                        th:id="*{detalle[__${i.index}__].no_lavado}" th:field="*{detalle[__${i.index}__].no_lavado}" th:value="*{detalle[__${i.index}__].no_lavado}">
		                                        
		                                    </div>
                                    	</div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Fecha Alquiler</label>
                                        <input th:disabled="${view_mode}" type="date" class="form-control" placeholder="Fecha Alquiler"
                                            th:field="*{fecha_alquiler}" id="fecha_alquiler" data-date-format="DD MMMM YYYY" dateformat="d M y" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                    </div>
                                    
                                    
									<button th:if="${!view_mode}" type="submit" class="btn btn-default">
										<span th:if="${id!=null}">Editar</span>
										<span th:if="${id==null}">Crear</span>
									</button>
									<a th:href="@{/alquiler/listar}">
										<button type="button" class="btn btn-default">
											<span th:if="${view_mode}">Volver</span>
											<span th:if="${!view_mode}">Cancelar</span>
										</button>
									</a>
									
		                    
                                
                            </div>
                        </div>

                    </div>
                    
                </div>

            </div>
        </section>
        </form>
    </div>
    <style>
    	#ficha_proveedor{
    		display:none;
    	}
    </style>
    <script type="text/javascript" th:src="@{/js/moment.js}"></script>
    <script th:inline="javascript">
	/*<![CDATA[*/
	    var context = [[@{/}]];
	    var activos = /*[[${activos_alquiler}]]*/ [];
	/*]]>*/
	</script>
    <script>
    
    	var proveedor_data = null;
    	var fecha_ultimo_movimiento = "";
    	function validateForm() {

    	  var operacion = $("#operacion").val();
    	  var fecha_alquiler = $("#fecha_alquiler").val();
    	  if(fecha_ultimo_movimiento!=""){
    		  var date_alquiler = moment(fecha_alquiler);
    		  var date_ultimo = moment(fecha_ultimo_movimiento);
    		   var dif = date_alquiler.diff(date_ultimo, 'days');
    		   if(dif<0){
    			   message("Importante","La fecha de entrega no puede ser menor a "+date_ultimo.format("DD/MM/YYYY"));
    			   return false;
    		   }
    	  }

    	  var count_cero = 0;
    	  for(var i=0;i<activos.length;i++){
          	var n = Number($("#"+activos[i].sku).val());
          	if(n<0){
          		message("Importante","Los valores deben de ser mayores a 0");
          		return false;
          	}
          	if(n==0){
          		count_cero++;
          	}
          }
    	  if(count_cero==activos.length){
    		  message("Importante","Todos los valores estan en 0");
	    	  return false;	
          }
    	  return true;
    	}
    	function message(titulo,msg){
    		toastr.options = {
    	            "positionClass": "toast-top-right",
    	            "closeButton": true,
    	            "progressBar": true,
    	            "showEasing": "swing",
    	            "timeOut": "3000"
    	        };
    	    toastr.warning('<strong>'+titulo+'</strong> <br/><small>'+msg+'</small>');
    	}
    	function changeProveedor(){
    		$("#ficha_proveedor").hide();
    		$.get( context+"api/proveedor/"+$("#proveedor").val(), function( data ) {
    			  if(data){
    				  proveedor_data = data;
    				  if(data.detalle!=null){
    					  html = "<ul>";
    					  for(var i=0;i<data.detalle.length;i++){
    						  html+='<li><span>'+data.detalle[i].sku+'</span> ';
    						  html+='<span class="text-right"><span class="usage11 c-accent" id="p1">'+data.detalle[i].cantidad+'</span></span></li>';
    					  }
    					  html+="</ul>";
    					  $("#datos_proveedor").html(html);
    				  }
        			  $("#ficha_proveedor").show();
    			  }
    			  
    		},'json');
    		$.get( context+"api/ultimo_movimiento/"+$("#proveedor").val(), function( data ) {
    			if(data.status=="OK"){
    				fecha_ultimo_movimiento = data.response;
    			}
    		},'json');
    	}
	    document.addEventListener("DOMContentLoaded", function() {
	        var elements = document.getElementsByTagName("INPUT");
	        for (var i = 0; i < elements.length; i++) {
	            elements[i].oninvalid = function(e) {
	                e.target.setCustomValidity("");
	                if (!e.target.validity.valid) {
	                    e.target.setCustomValidity("Este campo es requerido");
	                }
	            };
	            elements[i].oninput = function(e) {
	            	e.target.setCustomValidity("");
	            };
	        }
	        if(document.getElementById('fecha_alquiler')!=undefined){
	        	document.getElementById('fecha_alquiler').valueAsDate = new Date();
	        }
	        for(var i=0;i<activos.length;i++){
	        	$("#"+activos[i].sku).val(0);
	        }
	    })
	   
	</script>
    <footer th:replace="footer"></footer>
    </body>
</html>