<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-repeat"></i>
                        </div>
                        <div class="header-title">
                            <h3>Alquileres</h3>
                            <small>
                                <a th:href="@{/alquiler/entrega}">Registrar Entrega</a>
                            </small>
                            <br/>
                            <small>
                                <a th:href="@{/alquiler/devolucion}">Registrar Devolución</a>
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
           
            <div class="row">
            <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${todos}"></h2>
                            <a th:href="@{/alquiler/listar/todos}">Todos</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${entregas}"></h2>
                            <a th:href="@{/alquiler/listar/entregas}">Entregas</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${devoluciones}"></h2>
                            <a th:href="@{/alquiler/listar/devoluciones}">Devoluciones</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${anulados}"></h2>
                            <a th:href="@{/alquiler/listar/anulados}">Anuladas</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var tipo = /*[[${tipo}]]*/ 'todos';
    var activos = /*[[${activos}]]*/ [];
    var context = [[@{/}]];
/*]]>*/
</script>
<script>

$( document ).ready(function() {
	var columnFormats = [];
	columnFormats[0] = {makeReallyCool: true};
	columnFormats[0] = {makeReallyCool: true};
	columnFormats[0] = {makeReallyCool: true};
	columnFormats[0] = {makeReallyCool: true};
	var columns = new Array();
	columns.push({ "data": "operacion",
		"name" : "OP" ,
		"title" : "OP",
        "className": "center",
        "defaultContent": '',
        "searchable": false,
        "orderable": true,
        "render": function (data, type, row, meta) {
        	if(data=="DEVOLUCION"){
        		return '<i class="fas fa-arrow-left fa-5x" aria-hidden="true"></i>';
        	}
        	if(data=="ENTREGA"){
        		return '<i class="fas fa-arrow-right fa-5x" aria-hidden="true"></i>';
        	}
        }
    });
	columns.push({ "data": "nro_operacion", "name" : "Nro Operación" , "title" : "Nro Operación"});
	columns.push({ "data": "proveedor_nombre", "name" : "Proveedor" , "title" : "Proveedor"});
	columns.push({ "data": "estado", "name" : "Estado" , "title" : "Estado"});
	columns.push({ "data": "costo", "name" : "Costo" , "title" : "Costo por día",
		"render": function (data, type, row, meta) {
			 if(data=="0.0")return "-";
			 return 'S/ '+data;
		  }	
	});

	for(var i=0;i<activos.length;i++){
		var item = {};
		item.data = "detalle";	
		item.searchable=false;
		item.orderable=false;
		item.name= activos[i].sku;
		item.title = activos[i].sku;
		item.render = function(data, type, row, meta){ 

			var i = Number(meta.col)-5;
			var sku = activos[i].sku;
			for(g=0;g<row.detalle.length;g++){
				//console.log(" row.detalle[g].sku "+row.detalle[g].sku);
				if(row.detalle[g].sku==sku){
					return row.detalle[g].cantidad; 
				}
			}
			return "-";
			
			//if(data[i]==null)return "-";
			//if(data[i].cantidad==null)return "-";
			//return data[i].cantidad; 
		}
		columns.push(item);
	} 

	
	columns.push({ "data": "fecha_alquiler", "name" : "Fecha" , "title" : "Fecha Alquiler",
		"render": function (data, type, row, meta) {
			 if(row.operacion=="DEVOLUCION")return "-";
			 return (data!='' && data!=undefined  && data!=null)?moment(data).format('DD/MM/YYYY'):'-';
		  }	
	});
	columns.push({ "data": "fecha_devolucion", "name" : "Fecha" , "title" : "Fecha Devolución",
		"render": function (data, type, row, meta) {
			 if(row.operacion=="ENTREGA")return "-";
			 return (data!='' && data!=undefined  && data!=null)?moment(data).format('DD/MM/YYYY'):'-';
		  }	
	});
	columns.push({
        "data": null,
        "className": "center",
        "defaultContent": '',
        "searchable": false,
        "orderable": false,
        "render": function (data, type, row, meta) {
        	var btns='';
        	btns += '<a href="'+context+'alquiler/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
        	btns += '<a href="'+context+'alquiler/anular/'+data.id+'"><button class="btn btn-default btn-xs">Anular</button></a> ';
        	return btns;
        }
    });
	
	$('#paginatedTable').DataTable( {
        processing: true,
        serverSide: true,
        pageLength: 10,
        ajax: {
        	url: context+"api/alquileres_dto/"+tipo,
            data: function ( data ) {
         }},
        columns: columns,
        language: dtolang,

	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
/*        order: new Array([ 4,"asc"]),
                columnDefs: [
      		      {orderData:[1],targets:5},
      		      {orderable:false,targets:5},
      		      {parameters:{pos:100},targets:5},
      		    	{parameters:{pos:100},targets:6},
      		  		{parameters:{pos:100},targets:7}
      		    ]*/

</script>
</body>
</html>

