<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <li class="nav-category">
                SUULL
            </li>


            <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='despacho'} ? active : ''">
                <a th:href="@{/despacho/listar}">Despacho</a>
            </li>
            <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='recepcion'} ? active : ''">
                <a th:href="@{/recepcion/listar}">Recepción</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_SUULL_TIENDA')" th:classappend="${menu=='recepcion'} ? active : ''">
                <a th:href="@{/recepcion/listar}">Recepción</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_SUULL_TIENDA')" th:classappend="${menu=='devolucion'} ? active : ''">
                <a th:href="@{/devolucion/listar}">Devolución</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_SUULL_ALQUILERES')" th:classappend="${menu=='alquileres'} ? active : ''">
                <a th:href="@{/alquiler/listar}" >Alquileres</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_SUULL_ALQUILERES')" th:classappend="${menu=='proveedores_stock'} ? active : ''">
                <a th:href="@{/proveedores_stock}" >Proveedores</a>
            </li>
            <li sec:authorize="hasAuthority('ROLE_SUULL_ALQUILERES')" th:classappend="${menu=='calculo_rebate'} ? active : ''">
                <a th:href="@{/calculo_rebate}" >Cálculo de Rebate</a>
            </li>
                         
            <li sec:authorize="hasAuthority('ROLE_SUULL_ALQUILERES')" th:classappend="${menu=='alquiler_activos'} ? active : ''">
                        <a th:href="@{/alquiler_activos}">Activos para Alquiler</a></li>
            
            
            <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL','ROLE_SUULL_TIENDA')" th:classappend="${open_list=='stock'} ? active : ''"> 
                <a href="#stock" data-toggle="collapse" aria-expanded="false">
                    Stock<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="stock" class="nav nav-second collapse" th:classappend="${open_list=='stock'} ? show : ''">
                    <li th:classappend="${menu=='stock'} ? active : ''">
                        <a th:href="@{/stock}">Stock Actual</a></li>
                     
                     <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='stock_general'} ? active : ''">
                        <a th:href="@{/stock_general}">Stock General</a></li>
                        
                        
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='compras'} ? active : ''">
                        <a th:href="@{/compras}">Compra de Unidades</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='activos'} ? active : ''">
                        <a th:href="@{/activos}">Crear SKU</a></li>
                </ul>
            </li>


			<!-- 
            <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')">
                <a href="#reportes" data-toggle="collapse" aria-expanded="false">
                    Reportes<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="reportes" class="nav nav-second collapse">
                    <li sec:authorize="hasAuthority('Tienda')"><a href="#">Reporte de tienda</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')"><a href="#">Reporte principal</a></li>
                    <li sec:authorize="hasAuthority('ROLE_SUULL_ALQUILERES')"><a href="#">Alquileres</a></li>
                </ul>
            </li>
             -->
            
            <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${open_list=='configuracion'} ? active : ''">
                <a href="#configuracion" data-toggle="collapse" aria-expanded="false" >
                    Configuracion<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                <ul id="configuracion" class="nav nav-second collapse"
                    th:classappend="${open_list=='configuracion'} ? show : ''">
                    <li th:classappend="${menu=='proveedores'} ? active : ''">
                        <a th:href="@{/proveedores}"> Proveedores</a>
                    </li>
                    <li th:classappend="${menu=='proveedores_activos'} ? active : ''">
                        <a th:href="@{/proveedores_activos}"> Proveedores de activos</a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='transportes'} ? active : ''">
                        <a th:href="@{/transportes}"> Transportistas</a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='tiendas'} ? active : ''">
                        <a th:href="@{/tiendas}">Tiendas</a></li>
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='usuarios'} ? active : ''">
                        <a th:href="@{/usuarios}">Usuarios</a></li>
                    
                    <li sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL')" th:classappend="${menu=='reporte'} ? active : ''">
                        <a th:href="@{/reporte}">Reporte</a></li>
                </ul>
            </li>
		

            <li th:classappend="${open_list=='usuario'} ? active : ''">
                <a href="#user" data-toggle="collapse" aria-expanded="false">
                    Perfil<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                </a>
                
                
                <ul id="user" class="nav nav-second collapse"
                    th:classappend="${open_list=='usuario'} ? show : ''">
                    <li th:classappend="${menu=='informacion'} ? active : ''">
                    	<a th:href="@{/informacion}">Información</a>
                    </li>
                    <li>
                    <form action="#" th:id="logout" th:action="@{/logout}" method="post">
			            <input type="hidden" value="Salir" />
			        </form>
			        	
                    	<a href="#" onclick="document.getElementById('logout').submit()">Salir</a>
                    
                    	<a href="https://login.windows.net/ee7ee6ad-abb2-4c08-aa2e-d5e9886301d9/oauth2/logout?post_logout_redirect_uri=https://suull.jvmhost.net/logout_success">
                    	Salir
                    	</a> 
                    </li>
                </ul>
            </li>

            <li class="nav-info">
                <i class="pe pe-7s-shield text-accent"></i>

                <div class="m-t-xs">
                    <span class="c-white">SUULL</span> © 2020.
                </div>
            </li>
        </ul>
    </nav>
</aside>