<!DOCTYPE html>
<html>

<head th:replace="header"></head>

<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        
        
        
        <section th:if="${!create}" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-albums"></i>
                            </div>
                            <div class="header-title">
                                <h3 th:text="${mensaje}"></h3>
                                <small>
                                   <a th:href="@{/compras}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                </div>
                </section>
                
                
        <form th:if="${create}" th:object="${compra}" th:action="@{/compra}" method="post" id="form" onsubmit="return validateForm()">
        <input type="hidden" th:field="*{id}" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-note2"></i>
                            </div>
                            <div class="header-title">
                                
                                <h3>Compra de Activos</h3>
                                <small>
                                   <a th:href="@{/compras}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                	
                    <div class="col-xl-6">
                        <div class="panel panel-filled">
                            <div class="panel-body">


                                <p th:if="${!create}" th:text="${mensaje}"></p>
                                <a th:if="${!create}" th:href="@{/compra/listar}">Ver todos los compras</a>
 
                                     <div class="form-group">
                                        <label for="">Proveedor</label>
                                        <select th:disabled="${view_mode}" class="form-control" th:field="*{proveedor}" required oninvalid="this.setCustomValidity('Por favor seleccione un proveedor')" oninput="setCustomValidity('')">
                                            <option value=""/>Seleccione</option>
                                            <option th:each="t : ${proveedores}" th:value="${t.id}"
                                                th:utext="${t.ruc+' - '+t.razon_social}" th:selected="${t.id==proveedor_id}" />
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="">Guía Remisión</label>
                                        <input th:disabled="${view_mode}" type="text" class="form-control" placeholder="Guia Remisión" th:field="*{guia_remision}">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="">Observaciones</label>
                                        <textarea th:disabled="${view_mode}" type="text" class="form-control" placeholder="Observaciones" th:field="*{observaciones}" />
                                    </div>

                                
                            </div>
                        </div>

                    </div>
                    
                    
                    <div th:if="${create}" class="col-xl-6">
                       <div class="panel panel-filled panel-c-warning">
	                    	<div class="panel-heading">
	                            Detalle:
	                        </div>
                            <div class="panel-body">
                            		

                            		<div th:if="${!view_mode}" class="form-group">
                            		<div class="container">
                                        <div class="row">
                                        <label for="">SKU</label>
                                       
                                        <select class="form-control" id="cbo_producto">
                                        	<option value="">Seleccione</option>
                                            <option th:each="t : ${activos}" th:value="${t.id}"
                                                th:utext="${t.nombre+' - '+t.sku}" />
                                        </select>
                                        </div>
                                        </div>
                                       
                                    </div>
                                     <div th:if="${!view_mode}" class="form-group">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm nopadleft">
                                                <input type="text" class="form-control number" placeholder="Cantidad"
                                                    id="producto_cantidad" />
                                            </div>
                                            <div class="col-sm nopadleft">
                                                <span href="#" class="btn btn-w-md btn-accent"
                                                    id="btn_agregar_producto">Agregar</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>SKU</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th th:if="${!view_mode}"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="listado_detalle">
                                        
                                        	<tr th:each="activo, itemStat : *{activos}">
                                        		
                                                <td th:utext="*{activos[__${itemStat.index}__].sku}"></td>
                                                <td th:utext="*{activos[__${itemStat.index}__].nombre}"></td>
                                                <td>
                                                
                                                	<input type="hidden" th:field="*{activos[__${itemStat.index}__].id}" th:value="*{activos[__${itemStat.index}__].id}"/>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].sku}" th:value="*{activos[__${itemStat.index}__].sku}"/>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].nombre}" th:value="*{activos[__${itemStat.index}__].nombre}"/>
                                                
                                                    <input th:disabled="${view_mode}" type="text" class="form-control number cantidad" placeholder="Cantidad" onchange="updateValue(0,this.value)" th:field="*{activos[__${itemStat.index}__].cantidad}" />
                                                </td>
                                                <td th:if="${!view_mode}">
                                                	<button type="button" class="btn btn-default btn-xs" th:value="${itemStat.index}" onclick="deleteItem(this)">Eliminar</button>
                                                </td>
                                              </tr>
                                              
                                              <tr class="total_tr"><td>Total</td><td></td><td><input type="text" class="form-control cantidad" disabled="" th:value="${total_activos}"></td><td></td></tr>
                                              
                                        </tbody>
                                    </table>
                                </div>
                                    
                                    
                            </div>
                        </div>
                     </div>
                     

                     <div th:if="${!view_mode}" class="col-md-12">
                     
                     <div class="panel panel-filled">
                            <div class="panel-body">
                            		<button type="submit" class="btn btn-default">
                                        <span th:if="${id!=null}">Guardar</span>
                                        <span th:if="${id==null}">Crear</span>
                            		</button>
                            		<a class="btn btn-default" href="/compras">
										Cancelar
									</a>

                              </div>
                     </div>
                     		
                     </div>
                     
                </div>

            </div>
        </section>
        </form>
    </div>
    <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Este campo es requerido");
                }
            };
            elements[i].oninput = function(e) {
            	e.target.setCustomValidity("");
            };
        }
    })
   
</script>
    </script>
    <footer th:replace="footer"></footer>
    <script th:inline="javascript">
	/*<![CDATA[*/
	    var context = [[@{/}]];
	/*]]>*/
	</script>
    <script th:src="@{/js/compras.js}"></script>
</body>

</html>