<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-albums"></i>
                        </div>
                        <div class="header-title">
                            <h3>Compras</h3>
                            <small>
                                <a th:href="@{/compra}">Agregar</a>
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var context = [[@{/}]];
/*]]>*/
</script>
<script>
$( document ).ready(function() {
	$('#paginatedTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ajax": {
        	"url": context+"api/compras_dto",
            "data": function ( data ) {
         }},
        "columns": [
                    { "data": "nombre_proveedor", "name" : "Proveedor" , "title" : "Proveedor"},
                    { "data": "guia_remision", "name" : "Guía Remisión" , "title" : "Guia Remisión"},
                    { "data": "cantidad_activos", "name" : "Total activos" , "title" : "Total activos"},
                    { "data": "fecha_registro", "name" : "Fecha" , "title" : "Fecha","render": function (data, type, row, meta) {
						 return (data!='' && data!=undefined  && data!=null)?moment(data).format('DD/MM/YYYY'):'-';
					  }	
                   	},
                    {
                        "data": null,
                        "searchable": false,
                        "orderable": false,
                        "className": "center",
                        "defaultContent": '',
                        "render": function (data, type, row, meta) {
                            var btns = '<a href="'+context+'compra/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> '; 
                            btns += '<a href="'+context+'compra/eliminar/'+data.id+'"><button class="btn btn-default btn-xs">Eliminar</button></a> '; 
                            return btns
                        }
                    }
                ],
                "language": dtolang       
	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
</script>
</body>
</html>

