<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-home"></i>
                            </div>
                            <div class="header-title">
                                <h3 th:utext="*{tienda.nombre}">TEST</h3>
                               	<small>
                                   <a th:href="@{/stock_general}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-filled">
                        <div class="panel-body">
                            <table class="table table-responsive-sm">
                                <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Cantidad</th>
                                </tr>
                                </thead>
                                <tbody>
                                			<tr th:each="activo, itemStat : *{tienda.stocks}">
                                        		
                                                <td th:utext="*{tienda.stocks[__${itemStat.index}__].sku}"></td>
                                                <td>
                                                	<span th:utext="*{tienda.stocks[__${itemStat.index}__].stock}" />
                                                </td>
                                              </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer th:replace="footer"></footer>
    
    <script th:src="@{/vendor/sparkline/index.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.min.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.resize.min.js}"></script>
	<script th:src="@{/vendor/flot/jquery.flot.spline.js}"></script>


    </body>
</html>