<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
        
        
        <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i th:if="${tipo=='devolucion'}" class="pe page-header-icon pe-7s-next"></i>
                            <i th:if="${tipo=='recepcion'}" class="pe page-header-icon pe-7s-prev"></i>
                        </div>
                        <div class="header-title">
                            <h3 th:if="${tipo=='devolucion'}">Devoluciones</h3>
                            <h3 th:if="${tipo=='recepcion'}" style="display: inline-block;margin-top: 7px;">Recepción</h3>
                            <small>
                                <a th:if="${tipo=='devolucion'}" th:href="@{/devolucion/crear}">Crear</a>
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                  <div th:if="${tipo=='devolucion'}" class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${abiertas}"></h2>
                            <a th:href="@{/devolucion/listar/0}">Abiertas</a>
                        </div>
                    </div>
                </div>
                <div th:if="${tipo=='recepcion'}" class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${todas}"></h2>
                            <a th:href="@{/recepcion/listar}">Todas</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${cerradas}"></h2>
                            <a th:if="${tipo=='devolucion'}" th:href="@{/devolucion/listar/1}">Cerradas</a>
                            <a th:if="${tipo=='recepcion'}" th:href="@{/recepcion/listar/1}">Por recepcionar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${observadas}"></h2>

                            <a th:if="${tipo=='devolucion'}" th:href="@{/devolucion/listar/2}">Observadas</a>
                            <a th:if="${tipo=='recepcion'}" th:href="@{/recepcion/listar/2}">Observadas</a>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <h2 class="m-b-none" th:text="${recepcionadas}"></h2>

                            <a th:if="${tipo=='devolucion'}" th:href="@{/devolucion/listar/3}">Recepcionadas</a>
                            <a th:if="${tipo=='recepcion'}" th:href="@{/recepcion/listar/3}">Recepcionadas</a>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script type="text/javascript" th:src="@{/js/moment.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var estado = /*[[${estado}]]*/ 'TODOS';
    var tipo = /*[[${tipo}]]*/ '';
    var context = [[@{/}]];
/*]]>*/
</script>
<script>
$( document ).ready(function() {
	var local;
	var label;
	if(tipo=='recepcion'){
		local="nombre_local_partida";
		label="Local Origen";
	}else{
		local="nombre_local_entrega";
		label="Local Entrega";
	}
	$('#paginatedTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ajax": {
            "url": context+"api/devoluciones_dto/"+estado,
            "data": function ( data ) {
         }},
        "columns": [
        			{ "data": "nro_operacion", "name" : "Nro Operación" , "title" : "Nro Operación"},
        			{ "data": "guia_remision", "name" : "Guia Remisión" , "title" : "Guia Remisión"},
					{ "data": local, "name" : label , "title" : label},
					{ "data": "fecha_inicio_traslado", 
					  "name" : "Fecha Traslado" , 
					  "title" : "Fecha Traslado",
					  "render": function (data, type, row, meta) {
						  return moment(data).format('DD/MM/YYYY');
					  }
					},
					{ "data": "cantidad_activos", "name" : "Total activos" , "title" : "Total activos"},
					{ "data": "estado",
                        "className": "center",
                        "defaultContent": '',
                        "searchable": false,
                        "orderable": true,
                        "render": function (data, type, row, meta) {
                        	if(data=="CERRADO"){
                        		return '<i class="fas fa-lock fa-5x" aria-hidden="true"></i>';
                        	}
                        	if(data=="ABIERTO"){
                        		return '<i class="fas fa-lock-open fa-5x" aria-hidden="true"></i>';
                        	}
                        	if(data=="OBSERVADO"){
                        		return '<i class="fas fa-exclamation-triangle fa-5x" aria-hidden="true"></i>';
                        	}
                        	if(data=="RECEPCIONADO"){
                        		return '<i class="fas fa-check-circle fa-5x" aria-hidden="true"></i>';
                        	}
                        	
                            
                        }
                    },
					
					{ "data": "fecha_registro", "name" : "Registro" , "title" : "Fecha Registro",
						"render": function (data, type, row, meta) {
							 return (data!='' && data!=undefined  && data!=null)?moment(data).format('DD/MM/YYYY hh:mm a'):'-';
						  }	
					},
                    { "data": null,
						"searchable": false,
                        "orderable": false,
                        "className": "center",
                        "defaultContent": '',
                        "render": function (data, type, row, meta) {
                            var btns = '';
                            
                            
                        	if(data.estado=="ABIERTO"){
                        		if(tipo=="devolucion"){
                        			btns += '<a href="'+context+'devolucion/editar/'+data.id+'"><button class="btn btn-default btn-xs">Editar</button></a> ';
                        			btns += '<a href="'+context+'devolucion/cerrar/'+data.id+'"><button class="btn btn-default btn-xs">Cerrar</button></a>';
                        		}
                        	}
                        	if(data.estado=="CERRADO"){
                        		
                        		if(tipo=="devolucion"){
                        			btns += '<a href="'+context+'devolucion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
                        			btns += '<a href="'+context+'devolucion/abrir/'+data.id+'"><button class="btn btn-default btn-xs">Abrir</button></a>';
                        		}
                        		if(tipo=="recepcion"){
                        			btns += '<a href="'+context+'recepcion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
                        		}
                        	}
							if(data.estado=="OBSERVADO"){
								if(tipo=="devolucion"){
									btns += '<a href="'+context+'devolucion/editar/'+data.id+'"><button class="btn btn-default btn-xs">Editar</button></a> ';
									btns += '<a href="'+context+'devolucion/cerrar/'+data.id+'"><button class="btn btn-default btn-xs">Cerrar</button></a>';
								}
								if(tipo=="recepcion"){
									btns += '<a href="'+context+'recepcion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> '; 
								}
							}
							if(data.estado=="RECEPCIONADO"){
								//btns += '<a href="'+context+'recepcion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
								
								if(tipo=="devolucion"){
									btns += '<a href="'+context+'devolucion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
								}
								if(tipo=="despacho"){
									btns += '<a href="'+context+'despacho/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
								}
								if(tipo=="recepcion"){
									btns += '<a href="'+context+'recepcion/ver/'+data.id+'"><button class="btn btn-default btn-xs">Ver</button></a> ';
								}
								
							}
                        	
                        	
                        	
                            return btns;
                        }
                    }
                ],
                "language": dtolang       
	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
</script>
</body>
</html>

