<!DOCTYPE html>
<html>

<head th:replace="header"></head>

<body>
<!-- Wrapper-->
<div class="wrapper">


    <!-- Main content-->
    <section class="content">
        <div class="back-link">
            <a th:href="@{/}" class="btn btn-accent">Volver al inicio</a>
        </div>

        <div class="container-center md animated slideInDown">

            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-close-circle"></i>
                </div>
                <div class="header-title">
                    <h3>404</h3>
                    <small>
                        Page Not Found
                    </small>
                </div>
            </div>

            <div class="panel panel-filled">
                <div class="panel-body">
                    Disculpa, la pagina que estas buscando parece no funcionar.
                </div>
            </div>
            <div>
                <a th:href="@{/}" class="btn btn-accent">Volver al inicio</a>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
    <footer th:replace="footer"></footer>
    </body>
</html>