<!-- Vendor scripts -->
<script th:src="@{/js/pace.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
<!-- App scripts -->
<script th:src="@{/js/luna.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script src="https://kit.fontawesome.com/5fa7d98e88.js" crossorigin="anonymous"></script>
<script type="text/javascript" 	th:src="@{/js/fnSetFilteringEnterPress.js}"></script>

