<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>SUULL</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatables/datatables.css}"/>

    <!-- App styles -->
    <link rel="stylesheet" th:href="@{/css/pe-icons/pe-icon-7-stroke.css}"/>
    <link rel="stylesheet" th:href="@{/css/helper.css}"/>
    <link rel="stylesheet" th:href="@{/css/stroke-icons/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>