<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div>
                                        <i class="pe pe-7s-user c-accent fa-3x"></i>
                                        
                                        
                                        	<h2 class="m-t-xs m-b-none" th:text ="${nombre_completo}"></h2>
                                        <small th:text ="${tienda_desc}"> </small><br/>
                                        <small th:text ="${tienda_direccion}"> </small>
                                    </div>
                                </div>
                                <div th:if="${!tienda_no_especificada}" class="col-md-6" sec:authorize="hasAnyAuthority('ROLE_SUULL_TIENDACENTRAL','ROLE_SUULL_TIENDA')">
                                    <table class="table small m-t-sm" sec:authorize="hasAuthority('ROLE_SUULL_TIENDACENTRAL')">
                                        <tbody>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${d1}"></strong> Despachos abiertos  </td>
	                                            <td> <strong class="c-white" th:text ="${r1}"></strong> Por recepcionar </td>
	                                        </tr>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${d2}"></strong> Despachos cerrados </td>
	                                            <td> <strong class="c-white" th:text ="${r2}"></strong> Recepciones observadas </td>
	                                        </tr>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${d3}"></strong> Despachos observados </td>
	                                            <td> <strong class="c-white" th:text ="${r3}"></strong> Recepciones completadas </td>
	                                        </tr>
	                                        
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${d4}"></strong> Despachos completados </td>
	                                        	<td> </td>
	                                        </tr>
                                        </tbody>
                                    </table>
                                    <table class="table small m-t-sm" sec:authorize="hasAuthority('ROLE_SUULL_TIENDA')">
                                        <tbody>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${r1}"></strong> Por recepcionar </td>
	                                            <td> <strong class="c-white" th:text ="${d1}"></strong> Devoluciones abiertas  </td>
	                                        </tr>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${r2}"></strong> Recepciones observadas </td>
	                                            <td> <strong class="c-white" th:text ="${d2}"></strong> Devoluciones cerradas </td>
	                                        </tr>
	                                        <tr>
	                                            <td> <strong class="c-white" th:text ="${r3}"></strong> Recepciones completadas </td>
	                                            <td> <strong class="c-white" th:text ="${d3}"></strong> Devoluciones observadas </td>
	                                        </tr>
	                                        
	                                        <tr>
	                                            <td> </td>
	                                            <td> <strong class="c-white" th:text ="${d4}"></strong> Devoluciones completadas </td>
	                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>

                        </div>
                </div>
            </div>

           
           

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
