    <!-- Header-->
    <nav class="navbar navbar-expand-md navbar-default fixed-top">
        <div class="navbar-header">
            <div id="mobile-menu">
                <div class="left-nav-toggle">
                    <a href="#">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
            <a class="navbar-brand" th:href="@{/}">
                SUULL
                <span>v.1.0</span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="left-nav-toggle">
                <a href="">
                    <i class="stroke-hamburgermenu"></i>
                </a>
            </div>
            <form class="navbar-form  mr-auto">
                
            </form>
            <ul class="nav navbar-nav">
                <li class="nav-item profil-link">
                    <a th:href="@{/informacion}">
                         <span class="profile-address" th:text ="${#authentication.getPrincipal().getAttribute('name')}"></span>
                        
                        <i class="pe page-header-icon pe-7s-user" style="font-size:40px; height:40px; vertical-align: middle;"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>