<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-plug"></i>
                        </div>
                        <div class="header-title">
                            <h3>Stock Proveedores</h3>
                            <small>
                                <a th:href="@{/proveedor}">Agregar</a>
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var context = [[@{/}]];
    var activos = /*[[${activos}]]*/ 'activos';
/*]]>*/
</script>
<script>
$( document ).ready(function() {
	
	var columns = new Array();
	columns.push({ "data": "ruc", "name" : "RUC" , "title" : "RUC"});
	columns.push({ "data": "razon_social", "name" : "Razon Social" , "title" : "Razon Social"});
	for(var i=0;i<activos.length;i++){
		var item = {};
		item.data = "detalle";	
		item.searchable=false;
		item.orderable=false;
		item.name= activos[i].sku;
		item.title = activos[i].sku;
		item.render = function(data, type, row, meta){ 
			if(data==null){
				return "0";
			}else{
				var i = Number(meta.col)-2;
				if(data[i]!=null && data[i]!=undefined){
					return data[i].cantidad;
				}else{
					return "0";
				}
				
			}
			
		}
		columns.push(item);
	}
	
	columns.push({ "data": "costo_diario", "name" : "costo_diario" , "title" : "Costo por día",
		"render": function (data, type, row, meta) {
			 return 'S/ '+data;
		  }	
	});
	columns.push({
        "data": null,
        "searchable": false,
        "orderable": false,
        "className": "center",
        "defaultContent": '',
        "render": function (data, type, row, meta) {
            var btns = '<a href="'+context+'proveedor/editar/'+data.id+'"><button class="btn btn-default btn-xs">Editar</button></a> ';
        	btns += '<a href="'+context+'proveedor/eliminar/'+data.id+'"><button class="btn btn-default btn-xs">Eliminar</button></a>';
        	return btns;
        }
      }
	);
	
	$('#paginatedTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ajax": {
        	"url": context+"api/proveedores_dto",
            "data": function ( data ) {
         }},
        "columns": columns,
        "language": dtolang     
	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
</script>
</body>
</html>

