<!DOCTYPE html>
<html>

<head th:replace="header"></head>

<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        
        
        
        <section th:if="${!create}" class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-note2"></i>
                            </div>
                            <div class="header-title">
                                
                                <h3 th:text="${mensaje}"></h3>
                                <small>
                                    Nro operación: <span style="font-size:20px;color:white;" th:text="${nro_operacion}"></span>
                                </small>
                                <br/>
                                <small>
                                   <a th:href="@{/recepcion/listar}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                </div>
                </section>
                
                
        <form th:if="${create}" th:object="${despacho}" th:action="@{/recepcion/recepcionar}" method="post" id="form">
        <input type="hidden" th:field="*{id}" />
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">

                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-note2"></i>
                            </div>
                            <div class="header-title">
                                
                                <h3 th:if="${create}">Recepcionar Despacho </h3>
                                <small>
                                    Nro operación: <span style="font-size:20px;color:white;" th:text="${nro_operacion}"></span>
                                </small>
                                <br/>
                                <small>
                                   <a th:href="@{/recepcion/listar}">Volver al listado</a>
                                </small>
                            </div>
                        </div>
                        <hr th:if="${estado=='OBSERVADO'}">
                        	<p th:if="${estado=='OBSERVADO'}" style="color:#9adc1f;">
                                <span> <b>Observación:</b> </span>
                                <span th:text="${observacion_tienda}"></span>
                            </p>
                         <hr> 
                    </div>
                </div>
                <div class="row">
                	
                    <div class="col-xl-6">
                        <div class="panel panel-filled">
                            <div class="panel-body">

                                    
                                    <input type="hidden" id="nro_operacion" name="nro_operacion" th:value="${nro_operacion}" />
                                    
                                    <input type="hidden" th:field="*{estado}" th:value="${estado}" />
                                    <input type="hidden" th:field="*{fecha_registro}" th:value="${fecha_registro}" />


                                     <div class="form-group">
                                        <label for="">Guía Remisión</label>
                                        <input th:disabled="${view_mode}" type="text" class="form-control" placeholder="Guía Remisión"
                                            th:field="*{guia_remision}" required>
                                            <small class="form-text text-danger" th:if="${#fields.hasErrors('guia_remision')}" th:errors="*{guia_remision}"></small>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Local Origen</label>
                                        <select  disabled="disabled" id="local_partida" name="local_partida" class="form-control" required oninvalid="this.setCustomValidity('Por favor seleccione un local de origen')" oninput="setCustomValidity('')">
                                            
                                            <option th:each="t : ${tiendas}" th:value="${t.id}"
                                                th:utext="${t.nombre}" th:selected="${t.id==tienda_origen}" />
                                        
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Local Destino</label>
                                        <select th:disabled="${view_mode}" class="form-control" th:field="*{local_entrega}" required oninvalid="this.setCustomValidity('Por favor seleccione un local de entrega')" oninput="setCustomValidity('')">
                                        	<option value=""/>Seleccione</option>
                                            <option th:each="t : ${tiendas}" th:value="${t.id}"
                                                th:utext="${t.nombre}" th:selected="${t.id==tienda_destino}"/>
                                        </select>
                                    </div>
	
	                                   <div class="form-group">
                                        <label for="">Transporte</label>
                                        <select th:disabled="${view_mode}" class="form-control" th:field="*{transporte}" required oninvalid="this.setCustomValidity('Por favor seleccione un transportista')" oninput="setCustomValidity('')">
                                            <option value=""/>Seleccione</option>
                                            <option th:each="t : ${transportes}" th:value="${t.id}"
                                                th:utext="${t.ruc+' - '+t.razon_social}" />
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Fecha Traslado</label>
                                        <input th:disabled="${view_mode}" type="date" class="form-control" placeholder="Fecha Traslado"
                                            th:field="*{fecha_inicio_traslado}" id="fecha_inicio_traslado" data-date-format="DD MMMM YYYY" dateformat="d M y" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                    </div>


                                    <div class="form-group">
                                        <label for="">Observaciones</label>
                                        <textarea th:disabled="${view_mode}" type="text" class="form-control" placeholder="Observaciones" th:field="*{observaciones}" />
                                    </div>

                                    
                                
                            </div>
                        </div>

                    </div>
                    
                    
                    <div th:if="${create}" class="col-xl-6">
                       <div class="panel panel-filled panel-c-warning">
	                    	<div class="panel-heading">
	                            Detalle:
	                        </div>
                            <div class="panel-body">
                            		

                            		<div th:if="${!view_mode}" class="form-group">
                            		<div class="container">
                                        <div class="row">
                                        <label for="">SKU</label>
                                       
                                        <select class="form-control" id="cbo_producto">
                                        	<option value="">Seleccione</option>
                                            <option th:each="t : ${activos}" th:value="${t.id}"
                                                th:utext="${t.nombre+' - '+t.sku}" />
                                        </select>
                                        </div>
                                        </div>
                                       
                                    </div>
                                     <div th:if="${!view_mode}" class="form-group">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm nopadleft">
                                                <input type="text" class="form-control number" placeholder="Disponibles"
                                                    id="producto_disponibles" disabled="" />
                                            </div>
                                            <div class="col-sm nopadleft">
                                                <input type="text" class="form-control number" placeholder="Cantidad"
                                                    id="producto_cantidad" />
                                            </div>
                                            <div class="col-sm nopadleft">
                                                <span href="#" class="btn btn-w-md btn-accent"
                                                    id="btn_agregar_producto">Agregar</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>SKU</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th th:if="${!view_mode}"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="listado_detalle">
                                        
                                        	<tr th:each="activo, itemStat : *{activos}">
                                        		
                                                <td th:utext="*{activos[__${itemStat.index}__].sku}"></td>
                                                <td th:utext="*{activos[__${itemStat.index}__].nombre}"></td>
                                                <td>
                                                
                                                	<input type="hidden" th:field="*{activos[__${itemStat.index}__].id}" th:value="*{activos[__${itemStat.index}__].id}"/>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].sku}" th:value="*{activos[__${itemStat.index}__].sku}"/>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].nombre}" th:value="*{activos[__${itemStat.index}__].nombre}"/>
                                                
                                                    <input th:disabled="${view_mode}" type="text" class="form-control number cantidad" placeholder="Cantidad" onchange="updateValue(0,this.value)" th:field="*{activos[__${itemStat.index}__].cantidad}" />
                                                </td>
                                                <td th:if="${!view_mode}">
                                                	<button type="button" class="btn btn-default btn-xs" th:value="${itemStat.index}" onclick="deleteItem(this)">Eliminar</button>
                                                </td>
                                              </tr>
                                              
                                              <tr class="total_tr"><td>Total</td><td></td><td><input type="text" class="form-control cantidad" disabled="" th:value="${total_activos}"></td><td></td></tr>
                                              
                                        </tbody>
                                    </table>
                                </div>
                                    
                                    
                            </div>
                        </div>
                     </div>
                     
                     <div th:if="${tipo=='recepcion' && estado=='CERRADO'}" class="col-md-12">
                     	<div class="panel panel-filled">
                            <div class="panel-body">
                            		<button th:if="${tipo_operacion=='operacion'}" type="submit" class="btn btn-default"> Recepcionar</button>
                            		<button th:if="${tipo_operacion=='devolucion'}" type="submit" name="devolucion" class="btn btn-default"> Recepcionar</button>
                            		
                            		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal"> Observar</button>
                            		
                            		<div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-modal="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">Observar despacho</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="m-t-none">Motivo</h4>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <textarea th:field="*{observacion_tienda}" class="form-control" rows="10" cols="10" ></textarea>
                                                    </div>
                                                    
                                                </div>
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button th:if="${tipo_operacion=='operacion'}" type="submit" name="operacion_observar" class="btn btn-accent">Observar</button>
                                                <button th:if="${tipo_operacion=='devolucion'}" type="submit" name="devolucion_observar" class="btn btn-accent">Observar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                     </div>
                     <div th:if="${!view_mode}" class="col-md-12">
                     
                     <div class="panel panel-filled">
                            <div class="panel-body">
                            		<button th:if="${tipo=='despacho'}" type="submit" class="btn btn-default">
                                        <span th:if="${id!=null}">Editar</span>
                                        <span th:if="${id==null}">Crear</span>
                            		</button>

                            		
                            		
                            		
									
                              </div>
                     </div>
                     		
                     </div>
                     
                </div>

            </div>
        </section>
        </form>
    </div>
    <script th:inline="javascript">

    var action = /*[[${action}]]*/ '';

    document.addEventListener("DOMContentLoaded", function() {
        var elements = document.getElementsByTagName("INPUT");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninvalid = function(e) {
                e.target.setCustomValidity("");
                if (!e.target.validity.valid) {
                    e.target.setCustomValidity("Este campo es requerido");
                }
            };
            elements[i].oninput = function(e) {
            	e.target.setCustomValidity("");
            };
        }
        //document.getElementById('fecha_inicio_traslado').value = new Date().toDateInputValue();
        document.getElementById('fecha_inicio_traslado').valueAsDate = new Date();
        //$("#form").attr("action", action);
    })
    
    
    
</script>
    </script>
    <footer th:replace="footer"></footer>
        <script th:inline="javascript">
		/*<![CDATA[*/
		    var context = [[@{/}]];
		/*]]>*/
		</script>
    <script th:src="@{/js/operaciones.js}"></script>
</body>

</html>