<!DOCTYPE html>
<html>

<head th:replace="header"></head>

<body>
<!-- Wrapper-->
<div class="wrapper">


    <!-- Main content-->
    <section class="content">

        <div class="container-center md animated slideInDown">

            <div class="view-header">
                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-check"></i>
                </div>
                <div class="header-title">
                    <h3>Usted salio correctamente</h3>
                    <small>
                        SUULL v1.0
                    </small>
                </div>
            </div>


            <div>
                <a th:href="@{/oauth2/authorization/azure}" class="btn btn-accent">Volver a ingresar</a>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
    <footer th:replace="footer"></footer>
    </body>
</html>