<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>
<style>
	.activoLista{
		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		display: inline-block;
	}
	.itemActivo{
		padding-right: 5px;
	}
	
	.itemActivo a{
	  color:#6c757d;
	}
	.itemActivo a.activo{
		color:#9adc1f;
	}
</style>
<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-plug"></i>
                        </div>
                        <div class="header-title">
                            <h3>Stock General</h3>
                           
                          
                            <ul class="activoLista" th:each="activo, itemStat : *{activos}">
                               <li class="itemActivo" >
                               		<a href="#" th:data-column="*{itemStat.index+1}" th:utext="*{activos[__${itemStat.index}__].sku}" th:id="*{activos[__${itemStat.index}__].sku}"></a>
                               </li>
                            </ul><br/>
                            <a th:href="@{/stock_general.xls}">Exportar</a>             
                                              
                                              
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                            <table id="paginatedTable" class="table table-striped table-hover table-responsive-sm" width="100%">
					        </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>
<footer th:replace="footer"></footer>
<script type="text/javascript" th:src="@{/js/jquery.spring-friendly.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    var context = [[@{/}]];
    var activos = /*[[${activos}]]*/ [];
/*]]>*/
</script>
<script>

$( document ).ready(function() {
	
	$('.itemActivo a').click(function(e) {
		console.log($(this).attr('data-column'));
		console.log($(this).attr('data-column'));
		var column = table.column( $(this).attr('data-column') );
		if(!column.visible()){
			$(this).addClass("activo");
		}else{
			$(this).removeClass("activo");
		}
	    column.visible( ! column.visible() );
	} );
	
	
	var columns = new Array();
	columns.push({ "data": "nombre", "name" : "Nombre" , "title" : "Nombre"});
	for(var i=0;i<activos.length;i++){
		var item = {};
		item.data = "detalle";	
		item.visible=false;
		item.searchable=false;
		item.orderable=false;
		item.name= activos[i].sku;
		item.title = activos[i].sku;
		item.render = function(data, type, row, meta){ 
			var i = Number(meta.col)-1;
			var sku = activos[i].sku;
			for(g=0;g<row.stocks.length;g++){
				if(row.stocks[g].sku==sku){
					return row.stocks[g].stock; 
				}
			}
			return "0";
		}
		columns.push(item);
	} 
	
	columns.push({ "data": "cantidad_activos", "name" : "Stock Total" , "title" : "Stock Total"});
	
	var table = $('#paginatedTable').DataTable( {
        "processing": true,
        "serverSide": true,
        "pageLength": 10,
        "ajax": {
        	"url": context+"api/tiendas_global_stock_dto",
            "data": function ( data ) {
         }},
         columns: columns,
         "language": dtolang     
	});
	
	$('#paginatedTable').dataTable().fnSetFilteringEnterPress();
});
</script>
</body>
</html>

