<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>

<div class="wrapper">
    <nav th:replace="nav"></nav>
    <aside th:replace="aside"></aside>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-note2"></i>
                        </div>
                        <div class="header-title">
                            <h3>Stock</h3>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-filled">
                        <div class="panel-body">
                        	<form th:action="@{stock}" method="post" th:object="${stocksave}">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>SKU</th>
                                                <th>Descripción</th>
                                                <th>Stock</th>
                                            </tr>
                                        </thead>
                                        <tbody id="listado_detalle">
                                    
     
                                        	<tr th:each="activo, itemStat : *{activos}">
                                        		
                                                <td th:utext="*{activos[__${itemStat.index}__].sku}"></td>
                                                <td th:utext="*{activos[__${itemStat.index}__].nombre}"></td>
                                                <td>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].sku}" th:value="*{activos[__${itemStat.index}__].sku}"/>
                                                    <input type="hidden" th:field="*{activos[__${itemStat.index}__].nombre}" th:value="*{activos[__${itemStat.index}__].nombre}"/>
                                                    <input th:if="${!viewmode}" class="form-control number" placeholder="Cantidad" th:field="*{activos[__${itemStat.index}__].stock}" />
                                                    <span th:if="${viewmode}" th:text="*{activos[__${itemStat.index}__].stock}" />
                                                </td>
                                              </tr>
                                              
                                              
                
                
                                          </tbody>
                                    </table>
                               
                            <button th:if="${!viewmode}" type="submit" class="btn btn-default">Guardar</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->
<footer th:replace="footer"></footer>
</body>
</html>

