<!DOCTYPE html>
<html>
<head th:replace="header"></head>
<body>
    <div class="wrapper">
        <nav th:replace="nav"></nav>
        <aside th:replace="aside"></aside>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="view-header">
                            <div class="header-icon">
                                <i class="pe page-header-icon pe-7s-user"></i>
                            </div>
                            <div class="header-title">
                                <h3>Información</h3>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                    <form th:if="${create}" action="#" th:action="@{/usuario}" th:object="${usuario}"
                                    method="post">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="form-group">
                                        <label for="">Nombres</label>
                                        <input disabled="disabled" type="text" class="form-control" placeholder="Nombres" th:field="*{nombres}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Correo Electronico</label>
                                        <input disabled="disabled" type="text" class="form-control" placeholder="Correo Electronico" th:field="*{email}" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="">Tienda</label>
                                        <select disabled="disabled" class="form-control" th:field="*{tienda}" required oninvalid="this.setCustomValidity('Por favor seleccione un local')" oninput="setCustomValidity('')">
                                        	<option value=""/>Seleccione</option>
                                            <option th:each="t : ${tiendas}" th:value="${t.id}"
                                                th:utext="${t.nombre}" />
                                        </select>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="">Rol</label>
                                        <input type="text" disabled="disabled" class="form-control" placeholder="Rol" th:field="*{rol}" required>
                                    </div>
                                    

                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>
    <footer th:replace="footer"></footer>
    </body>
</html>